/* * {
    border: 1px solid black;
} */

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    height: 100%;
}

.section--img1 {
    background-image: url('./img/Image1.jpg');
    min-height: 100%;
}

.section--img2 {
    background-image: url('./img/Image2.jpg');
    min-height: 400px;
}

.section--img3 {
    background-image: url('./img/Image3.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px ;
}

.section--light {
    background-color: #f4f4f4;
    color: #666;
}

.section--dark {
    background-color: #282e34;
    color: #ddd;
}

.section--img1, .section--img2, .section--img3 {
    /* position: relative; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.70;
    position: relative;
}

.heading-container {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}

.heading-container__span {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.heading-container__span--trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .section--img1, .section--img2, .section--img3 {
        background-attachment: scroll;
    }
    .heading-container {
        font-size: 16px;
    }
}